body {
    font-family: Arial, sans-serif;
    background-color: peachpuff; /* Gives the background a peachy color */
}

#main-menu, #pet-div, #shop-div {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background: lavenderblush; /* A light, appealing background color for these sections */
}

.hidden {
    display: none;
}

.game-container {
    display: flex;
    justify-content: center; /* Keeps the pet animation centered */
    align-items: flex-start; /* Aligns items to the top */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 20px; /* Space between the pet animation and monitors */
    margin: auto; /* Centers the game container */
}

#pet-animation {
    width: 30%; /* Fixed width */
    height: 30vh; /* Fixed height, adjust both width and height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ebef9dc; /* Placeholder background color */
    margin-right: auto; /* Keep the animation centered */
    margin-left: auto;
    position: relative; /* Necessary for absolute positioning of child elements */
    overflow: hidden; /* Prevents any overflow from the fixed dimensions */
}

#pet-animation img {
    max-width: 100%; /* Ensures the image fits within the container */
    max-height: 100%; /* Ensures the image fits within the container */
    position: absolute; /* Absolute positioning allows for better control of the image placement */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the image perfectly within the container */
}

#monitors {
    position: absolute;
    right: 23%;
    top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 0; /* Prevents the monitors from growing */
    flex-shrink: 0; /* Prevents the monitors from shrinking */
}

#pet-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .game-container {
        flex-direction: column;
        align-items: center; /* Centers the children when stacked */
    }

    #pet-animation, #monitors {
        flex-basis: 100%;
        position: relative; /* Reset position for smaller screens */
        right: auto;
        top: auto;
    }
}

#pet-actions button {
    border: none;
    background-color: transparent; /* Makes the button background transparent */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    padding: 10px; /* Adds some padding inside the buttons */
}

#pet-actions img {
    height: 40px; /* Adjust based on your design needs */
    width: auto; /* Keeps the aspect ratio of the images */
}
